#header-section{
    background-color: #00FFCA;
    height: 130px;
    text-decoration: dotted;
    font-size: 50px;
    text-align: center;
}
#header-section h1{
    
    color: #1D267D;
}
a{
    list-style: none;
    margin: 10px;
    background-color: #1D267D;
    color: aliceblue;
    
}
