#header-section{
    background-color: #00FFCA;
    height: 130px;
    text-decoration: dotted;
    font-size: 50px;
    text-align: center;
    padding: ;
}
#header-section h1{
    
    color: #1D267D;
}

