<h1>product page</h1>
<div id="product-box">
    <div id="title">
        <h2> Title:</h2>
        <h3>{{product.title}}</h3>
    </div>
    <div id="price">
        <h2> Price:</h2>
        <h3>{{product.price}}</h3>
    </div>
    <div id="description">
        <h2> Description:</h2>
        <h3>{{product.description}}</h3>
    </div>
    <div id="category">
        <h2> Category:</h2>
        <h3>{{product.category}}</h3>
    </div>
    <div id="img">
        <h2> Image:</h2>
        <h3><img [src]=product.image width="250px" height="250px"></h3>
    </div>

</div>
