h1{
    background-color: aqua;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}
#product-box{
    border: 1px solid red;
    padding: 5px;
    display: ;
    background-color: #00D7FF;
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    border: none;
}
#product-box img{
  
  
}



